<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115163220166-534h59pi1skhv4el6d5rpo1l21s1lum3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115163220166-534h59pi1skhv4el6d5rpo1l21s1lum3</string>
	<key>API_KEY</key>
	<string>AIzaSyCRKCibSfTT0b5Ra4TYK7z4noE7RxlYYfg</string>
	<key>GCM_SENDER_ID</key>
	<string>115163220166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HappyEducation</string>
	<key>PROJECT_ID</key>
	<string>happyeducation-bcb82</string>
	<key>STORAGE_BUCKET</key>
	<string>happyeducation-bcb82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115163220166:ios:7eb89275180fd9a85d2fc7</string>
</dict>
</plist>